/* For herobanner section */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url("../img/herobanner-background.jpg");
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
}

.hero-content {
    position: relative;
    z-index: 1003;
    padding: 200px;
    color: #ffffff;
}

.hero-content h1 {
    font-size: 50px;
}

.hero-content p {
    font-size: 20px;
}

.hero-content .hero-button {
    padding: 10px 20px;
    background-color: #449DD1;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
}

.hero-content .hero-button:hover {
    background-color: #3943B7;
    transition: .3s;
}

/* For testimonials section */
.testimonials {
    margin: 50px 100px 100px 100px;
}

.testimonials .box {
    display: flex;
    flex-direction: row;
}

.testimonials .card {
    display: flex;
    flex: 1;
    width: 50%;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.testimonials .main {
    padding: 0 20px;
}

.testimonials img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}