.container {
    padding-top: 120px;
    min-height: 100vh;
    width: 50%;
    margin: 0 auto 100px auto;
}

.form-wrapper {
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    display: flex;
}

.form-wrapper form {
    margin: 0 auto;
}

.form-wrapper form input {
    display: block;
    padding: 8px;
    width: 300px;
    border: 1px solid #232323;
    border-radius: 5px;
}

.form-wrapper form .input-wrapper {
    margin-top: 20px;
}

/* Styling for selection box */
.form-wrapper form select {
    display: block;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #232323;
    border-radius: 5px;
}

/* Red border for empty input field */
.form-wrapper form .error {
    border: 1px solid #ff0000;
}

/* Styling for the button */
.button-wrapper {
    display: flex;  
    justify-content: center;  
    align-items: center; 
}

.button-wrapper button {
    font-size: 15px;
    display: block;
    background-color: transparent;
    color: #232323;
    border: 2px solid #3943B7;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    width: 150px;
    padding: 15px 0;
}

.button-wrapper button:hover {
    background-color: #3943B7;
    color: #ffffff;
    transition: .2s;
}

/* Styling for gender radio button */
.wrapper {
    display: inline;
}

.wrapper input[type=radio] {
    width: 15px;
    display: inline;
}

.wrapper label {
    display: inline;
}